body {margin: 0}

#background {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

canvas#level {
	display: block;
	bottom: 0;
	position: absolute;
	background-color: saddlebrown;
}

canvas.buffer {display: none}