/** Environment **/

.environment {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 0
}

/* Blocks */

.block {
	width: 48px;
	height: 48px;
	position: absolute;
	background-size: 100%;
	animation-timing-function: linear
}

.block.ground {background-image: url(../textures/block/ground.png)}
.block.ground {background-image: url(../textures/block/ground.png)}
.block.brick {background-image: url(../textures/block/brick.png)}
.block.metal {background-image: url(../textures/block/metal.png)}
.block.steel {background-image: url(../textures/block/steel.png)}
.block.hidden {background-image: url(../textures/block/hidden.png)}
.block.mystery {
	background-image: url(../textures/block/mystery1.png);
	animation-name: mystery;
	animation-duration: 1s;
	animation-iteration-count: infinite
}
.block.behind {
	box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.5);
	filter: contrast(0.75);
}
.block.pop {
	animation-name: pop;
	animation-duration: 0.2s
}

/* Warp pipes */
.pipe {
	width: 96px;
	height: 96px;
	bottom: 96px;
	left: 48px;
	position: absolute;
	background-image: url(../textures/pipe/pipe1.png);
	background-size: 100%
}

/* Decorative bushes */

.bush {
	height: 48px;
	bottom: 96px;
	position: absolute;
	background-size: 100%;
	z-index: -2
}

.bush.bush-1 {
	width: 96px;
	left: 0;
	background-image: url(../textures/environment/bush1.png)
}
.bush.bush-2 {
	width: 144px;
	left: 100px;
	background-image: url(../textures/environment/bush2.png)
}
.bush.bush-3 {
	width: 192px;
	left: 400px;
	background-image: url(../textures/environment/bush3.png)
}

/* Moving clouds */

.cloud {
	height: 72px;
	position: absolute;
	background-size: 100%;
	animation: cloud linear infinite;
	z-index: -2
}

.cloud.cloud-1 {
	width: 96px;
	top: 48px;
	background-image: url(../textures/environment/cloud1.png);
	animation-duration: 80s
}
.cloud.cloud-2 {
	width: 144px;
	top: 144px;
	background-image: url(../textures/environment/cloud2.png);
	animation-duration: 40s
}
.cloud.cloud-3 {
	width: 192px;
	top: 240px;
	background-image: url(../textures/environment/cloud3.png);
	animation-duration: 60s
}

/* Decorative hills */

.hill {
	bottom: 96px;
	position: absolute;
	background-size: 100%;
	z-index: -3
}

.hill.hill-1 {
	width: 144px;
	height: 57px;
	background-image: url(../textures/environment/hill1.png)
}
.hill.hill-2 {
	width: 240px;
	height: 105px;
	background-image: url(../textures/environment/hill2.png)
}