/** Keyframes **/

/* Blocks */

/* Mystery block color */
@keyframes mystery {
	0%, 40% {background-image: url(../textures/block/mystery_1.png)}
	55% {background-image: url(../textures/block/mystery_2.png)}
	70% {background-image: url(../textures/block/mystery_3.png)}
	85% {background-image: url(../textures/block/mystery_2.png)}
}

/* Block pop effect */
@keyframes pop {
	30% {transform: translateY(-16px)}
	40% {transform: translateY(-24px)}
	90%, 100% {transform: translateY(0)}
}

/* Moving clouds */
@keyframes cloud {100% {left: calc(1.1 * 100vw)}}

/* Player keyframes */

@keyframes playerSpawning {
	0%, 99% {z-index: 0}
	0% {bottom: 96px}
	100% {
		bottom: 192px;
		z-index: 2
	}
}

@keyframes playerWalking {
	33% {background-image: url(../textures/entity/mario/walking_1.png)}
	67% {background-image: url(../textures/entity/mario/walking_2.png)}
	100% {background-image: url(../textures/entity/mario/walking_3.png)}
}

@keyframes playerDeath {
	0%, 100% {
		visibility: visible;
		background-image: url(../textures/entity/mario/falling.png)
	}
	0% {bottom: 96px}
	15% {bottom: 180px}
	25% {bottom: 215px}
	40% {bottom: 240px}
	55% {bottom: 215px}
	70% {bottom: 140px}
	90%, 100% {bottom: -48px}
}

@keyframes playerDeathFromFall {
	0%, 100% {visibility: visible}
	50% {bottom: -48px}
	100% {
		bottom: 96px;
		background-image: url(../textures/entity/mario/falling.png)
	}
}

/* Goomba keyframes */

@keyframes goombaIdle {
	0%, 49% {transform: rotateY(0)}
	50%, 100% {transform: rotateY(180deg)}
}