/** Main **/

/* Font import */
@font-face {
	font-family: "SMBRegular";
	src: url(../fonts/SMBRegular.ttf) format("truetype")
}

/* This only works for Firefox, for Chrome use "pixelated" instead */
* {image-rendering: crisp-edges}

html, body {
	margin: 0;
	overflow: hidden;
	background-color: #000;
	user-select: none;
	font-family: SMBRegular
}

/* Map container */
.map {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: #5c94fc;
	/*background-color: #754b3d*/
}

/* Pause menu */
.pause {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.5) url(../textures/title.png) center 25% no-repeat;
	background-size: 528px 261px;
	z-index: 3
}

/* Debug console */

.debug {
	margin: 10px;
	padding: 10px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	color: #bbb;
	z-index: 10
}

.debug span {color: #fff}

/* Collision highlighting */

/*.above-left {box-shadow: inset 0 0 0 4px lightgreen}
.above-right {box-shadow: inset 0 0 0 4px green}
.above-left.above-right {box-shadow: inset 0 0 0 4px darkgreen}
.left-top {box-shadow: inset 0 0 0 4px yellow}
.left-bottom {box-shadow: inset 0 0 0 4px orange}
.left-top.left-bottom {box-shadow: inset 0 0 0 4px red}
.right-top {box-shadow: inset 0 0 0 4px lightblue}
.right-bottom {box-shadow: inset 0 0 0 4px royalblue}
.right-top.right-bottom {box-shadow: inset 0 0 0 4px darkblue}
.below-left {box-shadow: inset 0 0 0 4px white}
.below-right {box-shadow: inset 0 0 0 4px black}
.below-left.below-right {box-shadow: inset 0 0 0 4px gray}*/