/** Sprites **/

/* Player */
#player {
	width: 48px;
	height: 48px;
	position: absolute;
	background-image: url(../textures/entity/mario/idle.png);
	background-size: 100%;
	animation-timing-function: linear;
	z-index: 2
}
#player.spawning {
	animation-name: playerSpawning;
	animation-duration: 1s
}
#player.idle {
	background-image: url(../textures/entity/mario/idle.png);
	animation-iteration-count: 1
}
#player.walking {
	animation-name: playerWalking;
	animation-duration: .3s;
	animation-iteration-count: infinite
}
#player.jumping {
	background-image: url(../textures/entity/mario/jumping.png);
	animation-iteration-count: 1
}
#player.death {
	animation-name: "playerDeath";
	animation-duration: 1.25s
}
#player.deathFromFall {
	animation-name: "playerDeathFromFall";
	animation-duration: .5s
}

/* Goomba */
.goomba {
	width: 48px;
	height: 48px;
	position: absolute;
	background-image: url(../textures/entity/goomba/idle.png);
	background-size: 100%;
	animation: goombaIdle 0.25s infinite, goomba_walk 5s infinite linear
}