@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {image-rendering: crisp-edges /* this works only for Firefox, for Chrome use "pixelated" instead */}

html, body {
	margin: 0;
	overflow: hidden;
	/*background-color: #a1adff;*/
	background-color: #754b3d;
	user-select: none
}

/* pause menu */
section.pause {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.5) url(menu.png) center 25% no-repeat;
	background-size: 528px 261px;
	z-index: 3
}

.map {
	position: relative;
	z-index: 1
}

.environment {
	position: relative;
	background-color: #a1adff;
	z-index: 0
}

/* blocks */

div.block {
	width: 48px;
	height: 48px;
	position: absolute;
	background-size: 100%
}

.block.ground {background-image: url(block/ground.png)}
.block.ground {background-image: url(block/ground.png)}
.block.brick {background-image: url(block/brick.png)}
.block.metal {background-image: url(block/metal.png)}
.block.empty {background-image: url(block/empty.png)}
.block.hidden {background-image: url(block/hidden.png)}
.block.mystery {background-image: url(block/mystery.png)}
.block.behind {
	opacity: 0.5;
	box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.2)
}

/* warp pipes */
.warp-pipe {
	width: 105px;
	height: 96px;
	bottom: 96px;
	left: 66px;
	position: absolute;
	background-image: url(warp-pipe.png);
	background-size: 100%
}

/* environment */

/* decorative bushes */

.bush {
	height: 48px;
	bottom: 96px;
	position: absolute;
	background-size: 100%;
	z-index: -2
}

.bush.bush-1 {
	width: 96px;
	left: 0;
	background-image: url(environment/bush1.png)
}
.bush.bush-2 {
	width: 144px;
	left: 100px;
	background-image: url(environment/bush2.png)
}
.bush.bush-3 {
	width: 192px;
	left: 400px;
	background-image: url(environment/bush3.png)
}

/* moving clouds in the background */

.cloud {
	height: 72px;
	position: fixed;
	background-size: 100%;
	-webkit-animation: cloud linear infinite;
	animation: cloud linear infinite;
	z-index: -2
}

@-webkit-keyframes cloud {100% {left: calc(1.1 * 100vw)}}
@keyframes cloud {100% {left: calc(1.1 * 100vw)}}

.cloud.cloud-1 {
	width: 96px;
	top: 48px;
	background-image: url(environment/cloud1.png);
	-webkit-animation-duration: 80s;
	animation-duration: 80s
}
.cloud.cloud-2 {
	width: 144px;
	top: 144px;
	background-image: url(environment/cloud2.png);
	-webkit-animation-duration: 40s;
	animation-duration: 40s
}
.cloud.cloud-3 {
	width: 192px;
	top: 240px;
	background-image: url(environment/cloud3.png);
	-webkit-animation-duration: 60s;
	animation-duration: 60s
}

/* decorative hills */

.hill {
	bottom: 96px;
	position: absolute;
	background-size: 100%;
	z-index: -3
}

.hill.hill-1 {
	width: 144px;
	height: 57px;
	background-image: url(environment/hill1.png)
}
.hill.hill-2 {
	width: 240px;
	height: 105px;
	background-image: url(environment/hill2.png)
}

/* player sprite */

.player {
	width: 48px;
	height: 48px;
	bottom: 96px;
	left: 96px;
	position: absolute;
	background-image: url(entity/mario.png);
	background-size: 100%;
	/*-webkit-animation-name: playerSpawn;*/
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	/*animation-name: playerSpawn;*/
	animation-duration: 1.5s;
	animation-timing-function: linear;
	z-index: 2
}

@-webkit-keyframes playerSpawn {
	0%, 79.99% {z-index: -1}
	80% {
		bottom: 192px;
		z-index: 2
	}
	100% {bottom: 96px}
}

@keyframes playerSpawn {
	0%, 79.99% {z-index: -1}
	80% {
		bottom: 192px;
		z-index: 2
	}
	100% {bottom: 96px}
}

@keyframes playerDeathFall {
	0%, 100% {visibility: visible}
	50% {bottom: -48px}
	100% {
		bottom: 96px;
		background-image: url(entity/goomba.png)
	}
}

@keyframes playerDeath {
	0%, 100% {
		visibility: visible;
		background-image: url(entity/goomba.png)
	}
	0% {bottom: 96px}
	15% {bottom: 180px}
	25% {bottom: 215px}
	40% {bottom: 240px}
	55% {bottom: 215px}
	70% {bottom: 140px}
	90%, 100% {bottom: -48px}
}

/* goomba sprite */

.goomba {
	width: 48px;
	height: 48px;
	position: absolute;
	background-image: url(entity/goomba.png);
	background-size: 100%;
	-webkit-animation: goombaIdle .5s infinite, goomba_walk 5s infinite linear;
	animation: goombaIdle .5s infinite, goomba_walk 5s infinite linear
}

@-webkit-keyframes goombaIdle {
	0%, 50% {-webkit-transform: rotateY(0)}
	49%, 0% {-webkit-transform: rotateY(180deg)}
}

@keyframes goombaIdle {
	0%, 50% {transform: rotateY(0)}
	49%, 0% {transform: rotateY(180deg)}
}

/* paused element */
.paused {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused
}